.animations-fancy-list {
    li {
        animation-duration: 800ms;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: fancy-list;
    }

    @for $i from 1 to 23 {
        li:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }
    }
}

.animations-delayed-appaerance {
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: delayed-apearance;
}
