a {
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    color: $text-color;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: $primary-color;
    transform: scale(1.01);
}