h1,
h2,
h3,
h4,.h4-like-title,.h4-like,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 20px;
    line-height: 24px;
}

h2 {
    font-size: 18px;
    line-height: 21px;
}

h3 {
    font-size: 16px;
    line-height: 18px;
}

h4,
.h4-like,
.h4-like-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
}

h5 {
    font-size: 16px;
    line-height: 18px;
}

