<div class="header row row--centered">
    <div class="container">
        <div class="header__img">
            <img src="../../../assets/icon/post by Edwin PM from the Noun Project.png" alt="Cloud by Aleksandr Vector from the Noun Project">
        </div>

        <div class="header__logo logo">
            <div class="logo__img">
                <img src="../../../assets/icon/Cloud by Saifurrijal from the Noun Project.png" alt="Cloud by Aleksandr Vector from the Noun Project">
            </div>
        </div>

        <!-- <ul class="header__nav nav">
            <li class="nav__item"><a routerLink="/home"  class="nav__item-link">Home</a></li>
            <li class="nav__item"><a routerLink="/I offer"  class="nav__item-link">I offer</a></li>
            <li class="nav__item"><a routerLink="/I search"  class="nav__item-link">Home</a></li>
            <li class="nav__item"><a routerLink="/Home"  class="nav__item-link">Home</a></li>
        </ul> -->
    </div>
</div>
