$primary-light-color: #FFC207;
$primary-color: #FF9802;

$secondary-lighter-color: #DFF4F1;
$secondary-light-color: #41BEAD;
$secondary-color: #363538;

$specific-text-color: #44A9F8;
$text-color: #585858;

$nav-hover-color:#F8F8F8;
$primary-bg-color: #E6E6E6;

$course-color: radial-gradient(circle, #ffffff, #e4f2ff, #acecff, #60e7f8, #00dfca);
// $course-color: #00DAC3;



$gray-50: #F8F8F8;
$gray-200: #E6E6E6;
$gray-500: #919191;
$gray-700: #585858;

$blue-50: #E3F3FD;
$blue-400: #44A9F8;
$blue-800: #676781;

$red-500: #FC4C50;