<div class="home">
    <a class="home__action home__action--search" routerLink="/job-list">I search...</a>
    <div class="home__action home__action--job" routerLink="/freelance-list">JOB</div>
    <a class="home__action home__action--freelance" href="">I offer...</a>
    <div class="home__img">
        <img src="../../assets/img/home-page.jpg" alt="Gender equality in research aims to... - Information Centre - Research &amp;  Innovation - European Commission" class="n3VNCb" src="https://ec.europa.eu/research/headlines/news/images/23_07_19_small.jpg">
    </div>
</div>


