<div class="home">
    <a class="home__action home__action--search" routerLink="/jobs/search">I search...</a>
    <div class="home__action home__action--job">JOB</div>
    <a class="home__action home__action--freelance" routerLink="/jobs/offer">I offer...</a>
    <div class="home__img">
        <img src="../../assets/img/home-page.jpg" alt="Gender equality in research aims to... - Information Centre - Research &amp;  Innovation - European Commission" class="n3VNCb" src="https://ec.europa.eu/research/headlines/news/images/23_07_19_small.jpg">
    </div>
</div>


